



body{
    background-color: rgb(133, 28, 231);
    border: solid 1.5px black;
    color: antiquewhite;
    display: inline-block;
    padding: 10px;
}
input{
    border-radius: 10px;
    width: 100px;
}